<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :movie, placeholder: "movie" %>
  </div>

  <div class="field">
    <%= form.number_field :rating, max: 10, min: 0,placeholder: "rating" %>
  </div>

  <div class="field">
    <%= form.text_field :review, placeholder: "review" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
