<style>
body{
    background-image: linear-gradient(rgba(0,0,0,0.87),rgba(0,0,0,0.87)),url(<%= asset_path 'background.jpg' %>);
}
</style>

<h1>Filmania</h1>

<p>
    Filmania is a social platform for reviewing films you've watched. Check out what your friends are watching and read their reviews!
</p>

<div id="links">
<% if !user_signed_in? %>

    <%= link_to "signin", user_session_path %>

    <%= link_to "signup", new_user_registration_path %>

<% else %>

    <%= link_to "movies", movies_path %>

    <%= link_to "new review", new_movie_path %>    

    <a rel="nofollow" data-method="delete" href="/users/sign_out">log out</a>

<% end %>
</div>
<br /><br />
<h2>Top Posts</h2>
<table style="margin-bottom: 0px">
  <thead>
    <tr>
      <th>Username</th>
      <th>Movie</th>
      <th>Rating</th>
      <th>Review</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><a href="/profile/2">KushKaushik</a></td>
        <td>Social Network</td>
        <td>9</td>
        <td>Very interesting and motivational for the people who are into business or computer science</td>
      </tr>
  </tbody>
</table>
<div id="link-new"> 
  <a href="/movies/1">Show</a>
</div>
<br />

<table style="margin-bottom: 0px">
  <thead>
    <tr>
      <th>Username</th>
      <th>Movie</th>
      <th>Rating</th>
      <th>Review</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><a href="/profile/5">shashank</td>
        <td>Shawshank redemption</td>
        <td>0</td>
        <td>haet this movie worst name delete plz</td>
      </tr>
  </tbody>
</table>
<div id="link-new"> 
  <a href="/movies/9">Show</a>
</div>
<br />