<!DOCTYPE html>
<html>
  <head>
    <title>Filmania</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "components/navbar" %>
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
    <main>
      <%= yield %>
    </main>
    <br />
    <br />
    <%= render "components/footer" %>
    <br />
    <br />
  </body>
</html>
